body, html {
    margin: 0;
    padding: 0;
    background-color: #050505;
    color: #ffffff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
}

#site-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    padding: 20px;
    background: linear-gradient(to bottom, #000, transparent);
    color: #db0000;
    font-weight: 900;
    font-size: 1.8rem;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; 
    overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1; 
    object-fit: cover;
    pointer-events: none; 
}

.content-overlay {
    position: relative;
    z-index: 2; 
    text-align: center;
    background: rgba(0, 0, 0, 0.4); 
    padding: 20px;
    border-radius: 10px;
}


.progress-container {
    width: 250px;
    height: 6px;
    background: #333;
    border-radius: 10px;
    margin-top: 10px;
    overflow: hidden;
}

#progress-bar {
    width: 0%;
    height: 100%;
    background: #db0000;
    transition: width 0.1s linear;
}

#loading-status {
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
}

.play-btn {
    background-color: #db0000;
    color: white;
    border: none;
    padding: 18px 50px;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(219, 0, 0, 0.3);
}

.hidden { display: none !important; }

#jumpscare-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: #000;
    z-index: 9999;
}

#scary-img { width: 100%; height: 100%; object-fit: cover; }

.extreme-vibrate { animation: vibrate 0.04s infinite; }
@keyframes vibrate {
    0% { transform: translate(5px, 5px); }
    25% { transform: translate(-5px, -5px); }
    50% { transform: translate(-5px, 5px); }
    75% { transform: translate(5px, -5px); }
    100% { transform: translate(5px, 5px); }
}